@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html, body {
        @apply bg-background text-text font-primary font-extralight h-full;
    }

    @font-face {
        font-family: 'Lexend';
        font-weight: 500;
        src: url('fonts/Lexend/Lexend-VariableFont_wght.ttf'), format('.ttf');
    }
}
