@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html,
    body {
        @apply bg-background text-text font-primary font-extralight h-full overflow-y-clip;
    }

    :root ::-webkit-scrollbar {
        width: 4px;
        height: 4px;
        border-radius: 5px;
    }

    :root ::-webkit-scrollbar-track {
        background-color: #ececec;
    }
    :root ::-webkit-scrollbar-thumb {
        background-color: #e5102c;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    }

    @font-face {
        font-family: 'Lexend';
        font-weight: 500;
        src: url('/fonts/Lexend/Lexend-VariableFont_wght.ttf'), format('.ttf');
    }
}

@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }
    /* Hide scrollbar for Chrome, Safari and Opera */
    .show-scrollbar::-webkit-scrollbar {
        display: block;
    }
    /* Hide scrollbar for IE, Edge and Firefox */
    .show-scrollbar {
        -ms-overflow-style: auto; /* IE and Edge */
        scrollbar-width: auto; /* Firefox */
    }
}
