@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        @apply bg-background text-text font-primary font-extralight;
    }

    body {
        @apply h-screen;
    }

    @font-face {
        font-family: 'Lexend';
        font-weight: 500;
        src: url('fonts/Lexend/Lexend-VariableFont_wght.ttf'), format('.ttf');
    }
}
